/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
    background: #333; /* Dark track */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #555; /* Gray thumb */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #777; /* Lighter on hover */
}




